@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* TOP */
.main-visual {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 70px);
  margin-top: 90px; 
}

.main-visual img {
  width: 100%;
  height: 160%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
}



.fade-in {
  opacity: 0;
  transform: translateY(40px); /* ちょっと下から出る */
  animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.main-visual .imagetop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 2rem;
  box-sizing: border-box;
}

.main-visual h1 {
  font-size: clamp(24px, 5vw, 48px);
  color: #30344D;
  margin-left: 1rem;
  margin-bottom: 20%;
  text-align: left;
  text-shadow: 3px 3px 5px white;
}

.main-visual p {
  font-size: clamp(16px, 2.5vw, 24px);
  font-weight: 600;
  color: #C58B4B;
  max-width: 80%;
  margin-bottom: 1rem;
  text-align: center;
  align-self: center;
}

.contact-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: #C58B4B;
  color: #fff;
  text-decoration: none;
  border-radius: 16px;
  font-weight: bold;
  align-self: center;
  font-size: 24px; 

}

.contact-btn:hover {
  background-color: #30344D;
}

/* 会社概要 */
.company-section {
  border: 15px solid #C58B4B; 
  padding: 20px;
  text-align: center;
  padding-bottom: 50px;
}



.company-section h2 {
  font-size: 82px;
  margin-bottom: 30px;
  color: #30344D;
}

.company-content {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.company-left {
  text-align: center;
  width: 600px;
  height: 500px;
  object-fit: cover;
  display: block;
  margin: 60px auto 0 auto;
  
}

.company-left img {
  width: 100%;
  height: auto;
  
}

.company-right {
  width: 650px;
  height: 500px;
  border: 3px solid #30344D;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-box {
  text-align: center;
  color: #30344D;
  padding: 20px;
}

.text-box .title {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.text-box .desc {
  font-size: 24px;
  line-height: 1.6;
}

.desc .highlight {
  color: #C58B4B;
  font-weight: bold;
}


.more-btn {
  background-color: #C58B4B;
  color: #fff;
  font-size: 30px;
  border-radius: 16px;
  padding: 20px 40px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.more-btn:hover {
  background-color: #30344D;
}


/* サービス概要 */
.service-overview {
  border: 15px solid #30344D;
  padding: 20px;
  text-align: center;
  padding-bottom: 50px;
}

.service-overview h2 {
  font-size: 82px;
  margin-bottom: 40px;
  color: #30344D;
}

.service-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.service-item {
  flex: 1 1 300px;
  max-width: 400px;
  text-align: center;
}

.service-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
  color: #30344D;
}

.image-container {
  position: relative;
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-comment {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  background-color: rgba(255,255,255,0.7);
  padding: 2px 16px;
  border-radius: 3px;
}

.button {
  padding: 20px 40px;
  background-color: #C58B4B;
  color: #fff;
  font-size: 24px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 15px auto !important;
  display: inline-block;
}

.button:hover {
  background-color: #30344D;
}


/* お問い合わせ */
.contact-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  border: 15px solid #C58B4B;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
  box-sizing: border-box;
}

.contact-section h2 {
  font-size: 82px;
margin: 30px 0;
  color: #30344D;
}

.contact-section .sub-title {
  font-size: 32px;
  margin-bottom: 30px;
  color: #30344D;
}

.contact-btn {
  display: inline-block; 
  padding: 20px 60px;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 100px;
  background-color: #c98c4b;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none; 
}

.contact-btn:hover {
  background-color: #30344D;
}



.qa-title {
  font-size: 32px;
  margin-bottom: 50px;
  color: #30344D;
}

.qa-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.qa-box {
  width: 80%;
  border: 2px solid #c98c4b;
  padding: 15px;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 30px;
}


/* SNS */
.sns-section {
  border: 15px solid #30344D;
  padding: 20px;
  text-align: center;
}

.sns-section h2 {
  font-size: 82px;
  margin-bottom: 20px;
  color: #30344D;
}

.sns-section .sns-desc {
  font-size: 24px;
  margin-bottom: 40px;
  color: #30344D;
}

.sns-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.sns-links a img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.sns-links a img.small {
  width: 120px;
  height: 120px;
  margin-top: 15px;
}

.sns-links a:hover img {
  transform: scale(1.1);
}


@media screen and (max-width: 430px) {
  .main-visual {
    height: 60vh;
  }

  .main-visual img {
    height: 120%;
  }

  .main-visual h1 {
    font-size: 24px;
    margin-bottom: 10%;
  }

  .main-visual p {
    font-size: 16px;
    max-width: 90%;
  }

  .contact-btn {
    font-size: 18px;
    padding: 0.5rem 1rem;
  }

  .company-section h2,
  .service-overview h2,
  .contact-section h2,
  .sns-section h2 {
    font-size: 36px;
  }

  .company-content {
    width: 100%;
    height: auto;
  }

  .company-left img {
    height: auto;
    margin: -300px ;
  }

  .company-right {
    width: 100%;
    height: auto;
  }

  .text-box .title {
    font-size: 26px;
  }

  .text-box .desc {
    font-size: 18px;
  }

  .more-btn {
    font-size: 16px;
    padding: 8px 20px;
  }

  .service-items {
    flex-direction: column;
  }

  .service-item {
    max-width: 100%;
  }

  .image-container {
    width: 100%;
    height: auto;
  }

  .image-container img {
    height: auto;
  }

  .image-comment{
    font-size: 14px;
  }

  .service-title {
    font-size: 24px;
  }

  .contact-section .sub-title {
    font-size: 20px;
  }

  .contact-section button {
    padding: 15px 30px;
    font-size: 16px;
  }

  .qa-title {
    font-size: 24px;
  }

  .qa-box {
    width: 95%;
  }

  .sns-section .sns-desc {
    font-size: 18px;
  }

  .sns-links a img {
    width: 100px;
    height: 100px;
  }

  .sns-links a img.small {
    width: 80px;
    height: 80px;
  }
}


/* 初期状態 */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

/* 見えたとき */
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
